.progress-indicator {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.progress-indicator>li {
    -ms-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 5;
    flex: 1;
}
.progress-indicator {
    margin: 0 0 1em;
    padding: 0;
    font-size: 80%;
    text-transform: uppercase;
}
.progress-indicator>li {
    list-style: none;
    text-align: center;
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    text-overflow: ellipsis;
    color: #bbb;
    display: block;
    z-index: 0;
}
.progress-indicator>li:hover {
    color: #6f6f6f;
}
.progress-indicator>li.completed, .progress-indicator>li.completed .bubble {
    color: #36bc9a;
}
.progress-indicator>li.completed .bubble p{
    color:#fff;
}
.progress-indicator>li .bubble {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    display: block;
    margin: 0 auto .5em;
    border: 2px solid #bbb;
    z-index: 99999;
}
.progress-indicator>li .bubblearrow{
    width: 130px;
    height: 34px;
    background: #36bc9a;
    position: absolute;
    top: 7px;
    margin-left: 22px;
    border: 2px solid #2b987d;
    z-index: -1;
    border-radius: 20px;
}
.progress-indicator>li .bubble p{
    margin: 0px;
    color: #2c2d30;     
    padding-top: 17px;
}
.progress-indicator>li .bubble:after, .progress-indicator>li .bubble:before {
    display: block;
    position: absolute;
    top: 23px;
    width: 50%;
    height: 5px;
    content: '';
    background-color: #bbb;
    z-index: -11;
}
.progress-indicator>li.completed .bubble, .progress-indicator>li.completed .bubble:after, .progress-indicator>li.completed .bubble:before {
    background-color: #36bc9a;
    border-color: #2b987d;
}
.progress-indicator>li .bubble:before {
    left: 0;
}
.progress-indicator>li .bubble:after {
    right: 0;
}
.progress-indicator>li:first-child .bubble:after, .progress-indicator>li:first-child .bubble:before {
    width: 50%;
    margin-left: 50%
}
.progress-indicator>li:last-child .bubble:before {
    width: 50%;
    margin-right: 50%}
.progress-indicator>li:last-child .bubble:after{
    width: 0%;
}
.progress-indicator>li.active, .progress-indicator>li.active .bubble, .progress-indicator>li.active .bubble p {
    font-weight: bold;
    color: #fff;
    z-index: 999;
}
.progress-indicator>li.active .bubble, .progress-indicator>li.active .bubble:after, .progress-indicator>li.active .bubble:before,.progress-indicator>li.active .bubblearrow {
    background-color: #2d9a7e;
    border-color: #42776a;
}
.progress-indicator>li a:hover .bubble, .progress-indicator>li a:hover .bubble:after, .progress-indicator>li a:hover .bubble:before {
    background-color: #5671d0;
    border-color: #1f306e;
}
.progress-indicator>li a:hover .bubble {
    color: #5671d0;
}
.progress-indicator>li.danger .bubble, .progress-indicator>li.danger .bubble:after, .progress-indicator>li.danger .bubble:before {
    background-color: #d3140f;
    border-color: #440605;
}
.progress-indicator>li.danger .bubble {
    color: #d3140f;
}
.progress-indicator>li.warning .bubble, .progress-indicator>li.warning .bubble:after, .progress-indicator>li.warning .bubble:before {
    background-color: #edb10a;
    border-color: #5a4304;
}
.progress-indicator>li.warning .bubble {
    color: #edb10a;
}
.progress-indicator>li.info .bubble, .progress-indicator>li.info .bubble:after, .progress-indicator>li.info .bubble:before {
    background-color: #5b32d6;
    border-color: #25135d;
}
.progress-indicator>li.info .bubble {
    color: #5b32d6;
}
.progress-indicator.stacked>li {
    text-indent: -10px;
    text-align: center;
    display: block;
}
.progress-indicator.stacked>li .bubble:after, .progress-indicator.stacked>li .bubble:before {
    left: 50%;
    margin-left: -1.5px;
    width: 3px;
    height: 100%}
.progress-indicator.stacked .stacked-text {
    position: relative;
    z-index: 10;
    top: 0;
    margin-left: 60%!important;
    width: 45%!important;
    display: inline-block;
    text-align: left;
    line-height: 1.2em;
}
.progress-indicator.stacked>li a {
    border: none;
}
.progress-indicator.stacked.nocenter>li .bubble {
    margin-left: 0;
    margin-right: 0;
}
.progress-indicator.stacked.nocenter>li .bubble:after, .progress-indicator.stacked.nocenter>li .bubble:before {
    left: 10px;
}
.progress-indicator.stacked.nocenter .stacked-text {
    width: auto!important;
    display: block;
    margin-left: 40px!important;
}
@media handheld, screen and (max-width:400px) {
    .progress-indicator {
        font-size: 60%}
}